# 환경변수
.env
crawler/.env
ingestion/.env
llm-service/.env

# ingestion 파이프라인 중간/최종 결과 (벡터 DB) 무시
ingestion/data/

# 초기 데이터셋
#ingestion/dataset/

# 크롤러 출력 디렉토리 (디버그 파일 등)
crawler/output/

# 로그 파일
*.log

# 커서 규칙
.cursorrules

# 파이썬 캐시 파일
__pycache__/

# 노드 모듈
node_modules/