# YAML 설정 읽기
PyYAML

# .env 파일 환경변수 로드
python-dotenv

# PDF → 텍스트
pypdf

#임베딩 모델 
sentence-transformers
transformers
scikit-learn

# LangChain 코어
langchain
langchain-openai  
openai 

# LangChain Community Toolkit
numpy
langchain-community
langchain-teddynote

# 벡터 DB (Chroma)
chromadb

# 진행률 표시
tqdm

#토큰 수 확인 
tiktoken

# fast api
fastapi
uvicorn