# YAML 설정 읽기
PyYAML

# .env 파일 환경변수 로드
python-dotenv

# PDF → 텍스트
pypdf

#임베딩 모델 
# 빌드할 때 GPU 사용 관련해서 문제가 있어서 당장 사용하지 않는 임베딩 모델들 주석처리 하겠습니다.
# sentence-transformers
# transformers
# scikit-learn

# LangChain 코어
langchain
langchain-openai  
openai 

# LangChain Community Toolkit
numpy
langchain-community
langchain-teddynote

# 벡터 DB (Chroma)
chromadb

# 진행률 표시
tqdm

#토큰 수 확인 
tiktoken

# fast api
fastapi>=0.68.0
uvicorn>=0.15.0
pydantic>=1.8.0
